/*--- le responsive de la page
    -trouver tutor.html in tutor.css
*/
:root{
    --padding-respo: 1rem;   
}
/*---######-- ours variables ----*/

@media only screen and (min-width: 300px) and (max-width: 850px) {

 /*--##########-------Page trouver un tutors-----------------------*/
    .container__tutors .bg_trans{
        display: block;
        align-items: center;
        justify-content: center; 
        padding: var(--padding-respo);

    }
    .bg_trans div {
        width: 90%;
     }
    .container__tutors div h2{
        font-size: 1.8rem;
        line-height: 1.8rem;
        margin: 8rem 0 0 0;
    }
    .btn_get_tutor{
        padding: 0.5rem 1rem;
        border-radius: 0.8rem;
        font-size: 0.8rem;
    }
    /*---------------------section 3 =  Les avantages du répétiteur-----------------------*/
    .container__avance{
        padding: var(--padding-respo);
    }
    .avance__detail{
        margin: 0.8rem 0;
        display: block;
        gap: 1rem;
    }
    .avance__detail .bloc1 h4{
        font-size: 1.2rem;
        margin: 0.2rem 0;
    }
    /*---------------------section trois =  La satisfaction avec un répétiteur-----------------------*/
    .container__satisfaction{
        display: block;
        flex-direction: column-reverse;
        align-content: center;
        justify-content: center;
    }
    .satisfaction__img,
    .satisfaction__text{
        width: auto;
        height: auto;
    }
    .satisfaction__text{
        padding: var(--padding-respo);
    }
    .satisfaction__icon{
        font-size: 3rem;
    }
    .satisfaction__text h2{
        font-size: 1.6rem;
        line-height: 3rem;
        margin: 0.5rem 0;
        font-weight: 900;
    }
    .satisfaction__img img{
        width: 100%;
        height: auto;
    }
      /*---------section présentation devenir tutor---------*/
    .container__liste {
        text-align: center;
        padding: var(--padding-respo);
    }
    .liste__title{
        margin: 0;
        font-size: 0.8rem;
    }
    .liste__title h2, .tutor__stat h2{
        font-size: 1.2rem;
        margin-bottom: 0.9rem;
    }
    /*---------------------pour la page devenir_tutors/-----------------------*/
    .container__tutor{
        height: max-content;
        display: block;
        flex-direction: column;
        justify-content: center;
        gap: 1.6rem;
        padding: var(--padding-respo);
        border-top: 2px solid #111111be;
        margin-bottom: 2rem;
    }
    .tutor__text h2{
        font-size: 2.5rem;
        margin-top: 0.5rem;
        line-height: 2.7rem;
    }
    .tutor__btn_bloc{
        width: 100%;
        margin: 1.2rem 0;
      }
    .tutor__btn{
        border-radius: 0.6rem;
        padding: var(--padding-respo);
        font-size: 1rem;
    }
    .tutor__image{
        margin: 1.5rem 0;
        height: 60vh;
        width: 100%;
        padding: 0;
    }
    /*------------section tutor_stat-----*/
    .tutor__stat{
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }
    .stat__title{
        margin: 0;
        font-size: 1.1rem;
    }
    .stat__number{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.8rem;
        margin: 2rem 0;
        font-size: 1rem;
    }
    /*---------section statistique tutor---------*/
    .tutor__student{
        padding: var(--padding-respo);
        height: max-content;
    }
    .student__title{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    } 
    .student__title h2{
        font-size: 2.3rem;
        font-weight: bolder;
        margin-right: 0rem;
    }
    .student__detail{
        flex-direction: column;
        gap: 1rem;
        margin: 2rem 0 0 0;
    }
    /*---------section présentation profil de tutor---------*/
    /*------------------Page tutors_postuler-------------*/
    
  .form__postuler{
      width: 100%;
      margin: 3rem 2rem;
  }
  /*##########-----le style pour le modal (other_style.css)------*/
  .modal{
    height: 100%; 
    padding-top: 10px;
  }
  .modal-content {
    margin: 1rem; /* 5% from the top, 15% from the bottom and centered */
    width: 90%;
    overflow-x: visible;
  }
  .close {
    position: absolute;
    right: 12%;
    top: 14%;
    text-align: right;
    font-size: 1.8rem;
    font-weight: bold;
  }
  /*##########-----le style pour la page (inscription user.css)------*/
  #regForm {
    padding: 0 1rem;
    width: 100%;
    min-width: 300px;
  }
#modal__inscript{
    display: none;
  }
}     
@media only screen and (min-width: 300px) and (max-width: 850px) {


}
