<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Molakisi - Devenir un Tuteur</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="style/images/logo.png" type="image/x-icon">
    <!--Google icons-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!--Bootstrap icon-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="../../style/css/style.css">
    <link rel="stylesheet" href="../../style/css/tutor.css">
    <link rel="stylesheet" href="../../style/css/other_style.css">
</head>
<body>
    <header>
        <div class="header__large">
            <!--logo du header-->
            <div class="header__logo">
            <a href="../home/" ><img src="../../style/images/logo_black.png" alt=""></a>
            </div> 
            <nav>
                <ul>
                    <li><a href="#"  class="header__btn"  onclick="document.getElementById('id01').style.display='block'"><i class=" bi bi-box-arrow-in-right"></i> Login</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="container__tutor">
            <div class="tutor__text">
                <h2>Devenez tuteur et gagnez de l'argent en enseignant ce que vous aimez</h2>
                <p>
                    Avec Tuteria, vous pouvez enseigner aux étudiants en ligne ou 
                    dans votre région et adapter les cours à votre emploi du temps.
                     Acceptez simplement des emplois, 
                    donnez de bonnes leçons et soyez payé. C'est si facile.
                </p>
                <a href="./tutors_postuler.html" class="tutor__btn" title="postulez pour devenir tuteur">Postulez maintenant</a>
            </div>
            <div class="tutor__image">
                <img src="../../style/images/bg_tutor.jpg" alt="">
            </div>
        </section>

        <!-- la liste de tous les tutors qui sont dans molakisi -->
        <section class="container__liste">
            <div class="liste__title">
                <h2>Enseignez n’importe quoi, n’importe quand, n’importe où</h2>
                <p>Des études à la préparation aux tests, en passant par les langues et la musique, nous avons des étudiants à la recherche de tuteurs dans diverses matières.</p>
            </div>
            <div class="liste__profil">
                <div class="bloc__profil">
                    <img src="../../style/images/img__tutor.jpg" alt="">
                    <div class="img__text ">
                        <h4>Chinasa</h4>
                        <p>Tuteur de Francais et anglais</p>
                    </div>
                </div>

                <div class="bloc__profil">
                    <img src="../../style/images/img__tutor.jpg" alt="">
                    <div class="img__text ">
                        <h4>Chinasa</h4>
                        <p>Tuteur de Francais et anglais</p>
                    </div>
                </div>

                <div class="bloc__profil">
                    <img src="../../style/images/img__tutor.jpg" alt="">
                    <div class="img__text ">
                        <h4>Chinasa</h4>
                        <p>Tuteur de Francais et anglais</p>
                    </div>
                </div>

                <div class="bloc__profil">
                    <img src="../../style/images/img__tutor.jpg" alt="">
                    <div class="img__text ">
                        <h4>Chinasa</h4>
                        <p>Tuteur de Francais et anglais</p>
                    </div>
                </div>

                <div class="bloc__profil">
                    <img src="../../style/images/img__tutor.jpg" alt="">
                    <div class="img__text ">
                        <h4>Chinasa</h4>
                        <p>Tuteur de Francais et anglais</p>
                    </div>
                </div>

                <div class="bloc__profil">
                    <img src="../../style/images/img__tutor.jpg" alt="">
                    <div class="img__text ">
                        <h4>Chinasa</h4>
                        <p>Tuteur de Francais et anglais</p>
                    </div>
                </div>

                <div class="bloc__profil">
                    <img src="../../style/images/img__tutor.jpg" alt="">
                    <div class="img__text ">
                        <h4>Chinasa</h4>
                        <p>Tuteur de Francais </p>
                    </div>
                </div>

                <div class="bloc__profil">
                    <img src="../../style/images/img__tutor.jpg" alt="">
                    <div class="img__text ">
                        <h4>Chinasa</h4>
                        <p>Tuteur de Francais et anglais</p>
                    </div>
                </div>

                

                
                
            </div>
        </section>
        <!-- la liste de tous les tutors qui sont dans molakisi -->

        <section class="tutor__stat">
            <div class="stat__title">                
                <h2>Rejoignez la plus grande communauté de tuteurs professionnels.</h2>
                <p>Tuteria rend le tutorat prestigieux et financièrement gratifiant</p>
            </div>
            <div class="stat__number">
                <div class="first__color" >
                    <h4>₦516M</h4>
                    <p>Gains réalisés par les tuteurs</p>
                </div>
                <div class="second__color">
                    <h4>358K+</h4>
                    <p>Heures de cours enseignées</p>
                </div>
                <div class="green__color">
                    <h4>23,235</h4>
                    <p>Total students impacted</p>
                </div>
            </div>
        </section>

        


        <section class="tutor__student">
            <div class="student__title">
                <div>
                    <h2>Accédez à un flux constant d'étudiants </h2>
                </div>
                <div>
                    <button class="tutor__btn" href="./tutors_postuler.html">Postulez maintenant</button>
                </div>
            </div>
            <div class="student__detail">
                <div>
                    <i class=" bi bi-signpost-split"></i>
                    <h4>Enseignez n'importe quand, n'importe où</h4>
                    <p>
                        Décidez quand et combien d'heures vous souhaitez enseigner et
                        adaptez les leçons à votre emploi du temps.
                        Enseignez aux étudiants de votre région ou en ligne
                    </p>
                </div>
                <div>
                    <i class=" bi bi-mortarboard-fill "></i>
                    <h4>Grandir professionnellement</h4>
                    <p>
                        Assistez à des webinaires de formation, recueillez des avis et
                         obtenez des conseils pour améliorer vos compétences. 
                        Vous obtiendrez toute l'aide dont vous avez besoin de notre équipe pour grandir.
                    </p>
                </div>
                <div>
                    <i class=" bi bi-emoji-smile-upside-down-fill"></i>
                    <h4>Assistance incroyable</h4>
                    <p>
                        Nous vous soutenons à chaque étape du processus et nous sommes toujours disponibles
                         pour répondre à vos questions ou simplement vous donner une tape dans 
                         le dos bien méritée !
                    </p>
                </div>
            </div>
        </section>

        <section class="become__tutor">
            
        </section>


        <!-- Le modal pour le login -->
         <section>
            <div id="id01" class="modal">
                <form class="modal-content" id="modal__login" action="/action_page.php">
                    <div class="container__modal">
                        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Fermer le modal"><i class="bi bi-x-circle"></i></span>
                        <h2>Connexion Tuteur</h2>
                        <!-- <p>Complètez pour accèder à votre compte.</p> -->
                        <hr>
                        <!-- <label for="email"><b>Email</b></label> -->
                        <div class="input__modal">
                            <input type="text" placeholder="Email" name="email" autocomplete="off" required>
                            <input type="password" placeholder="Mot de passe" name="psw" autocomplete="off" required>
                        </div>
                
                        <!-- <label for="psw"><b>Mot de passe</b></label> -->
                        <div class="clearfix btn__connexion">
                            <button type="submit" class="connexion">Connexion </button>
                        </div>
                
                    
                       
                        <div class="modal__bottom__form">
                            <label>
                                <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Se Souvenir de moi
                            </label>
                            <a href="" class="modal__bottom__a">Mot de passe oublié ?</a>

                        </div>
                        <hr>
                        <div class="modal__flex">
                            <p>Nouveau Membre ? <a href="#" id="show__inscrip" class="modal__bottom__a">S'inscrire</a></p>
                            <p><a href="" class="modal__bottom__a"> Besoin d'aide ?</a></p>
                        </div>

                
                        <!-- <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p> -->
                
                        
                    </div>
                </form>
                <form class="modal-content" id="modal__inscrip" action="/action_page.php">
                    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Fermer le modal"><i class="bi bi-x-circle"></i></span>
                    <div class="container__modal">
                        <h2>Bienvenue à Molakisi</h2>
                        <p>Réjoins Molakisi avec des tuteurs de qualités et qualifiés.</p>
                        <hr>
                        <div class="input__modal">
                            <div class="modal__flex">
                                <input type="text" placeholder="Nom" name="name" autocomplete="off" required>
                                <input type="text" placeholder="Prenom" name="psw" autocomplete="off" required>
                            </div>
                            <input type="text" placeholder="Email" name="email" autocomplete="off" required>
                            <input type="password" placeholder="Password" name="pass" autocomplete="off" required>
                            <input type="password" placeholder="Retaper Password" name="pass" autocomplete="off" required>
                           
                        </div>
                
                        <!-- <label for="psw"><b>Mot de passe</b></label> -->
                        <div class="clearfix btn__connexion">
                            <button type="submit" class="connexion">S'inscrire</button>
                        </div>
                
                        
                        <hr>
                        <div class="modal__bottom__form">
                            <p>Déjà membre ?, <a href="#" id="show__login" class="modal__bottom__a">Se connecter</a> </p>
                            <a href="" class="modal__bottom__a">Mot de passe oublié ?</a>

                        </div>

                
                        <!-- <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p> -->
                
                        
                    </div>
                </form>
            </div>
        </section>
        <!-- Le modal pour le login -->
    
    </main>

    <script>
        // le js du modal
        var modal = document.getElementById('id01');
        var modal__inscrip = document.getElementById('modal__inscrip');
        var modal__login = document.getElementById('modal__login');
        var show__inscrip = document.getElementById('show__inscrip');
        var show__login = document.getElementById('show__login');
        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        //modal__inscrip doit etre off par defaut
        modal__inscrip.style.display = "none";
        //lorsqu'on clique sur btn modal2, on cache le modal 1 et on affiche le 2
        show__inscrip.onclick = function(event) {
            modal__login.style.display = "none";
            modal__inscrip.style.display = "block";
        }
        show__login.onclick = function(event) {
            modal__inscrip.style.display = "none";
            modal__login.style.display = "block";
        }
   </script>
</body>
</html>