<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Molakisi - Connexion répétiteur</title>
    <!-- lien Poppins -->
    <link rel="shortcut icon" href="../../public/images/logo_black.png" type="image/x-icon">
    <!--Google icons-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!--Bootstrap icon-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/other_style.css">
    <link rel="stylesheet" href="../../public/css/tutor.css">
    <link rel="stylesheet" href="../../public/css/responsive_style.css">
    
</head>
<body>
    <header>
        <div class="header__large">
            <!--logo du header-->
            <div class="header__logo">
            <a href="../home/" ><img src="../../public/images/logo_black.png" alt=""></a>
            </div> 
            <nav>
                <ul>
                    <li><a href="../home/">Accueil</a></li>
                    <li><a href="../devenir_tutors/">Devenez un répétiteur</a></li>
                    <li><a href="../trouver_tutors/">Trouver un répétiteur</a></li>
                    <li><a href="">FAQ</a></li>
                    <li><a href="#"  class="header__btn"  onclick="document.getElementById('id01').style.display='block'"><i class=" bi bi-box-arrow-in-right"></i> Login</a></li>

                </ul>
            </nav>
        </div>
        
       <!--div class="header__small">
            !--logo du header--
            <div class="header__logo">
                <a href="index.html" ><img src="public/logo_black.png" alt=""></a>
            </div> 
            <nav id="myLinks">
                <ul>
                    <li><a href="">Accueil</a></li>
                    <li><a href="">Devenez un répétiteur</a></li>
                    <li><a href="">Trouver un répétiteur</a></li>
                    <li><a href="">FAQ</a></li>
                </ul>
            </nav>
        
            <a href="javascript:void(0);" class="burger" onclick="btnBurger()">
            <i class="bi bi-menu-button-wide"></i>
        </a>
       </div-->
    
    <script>
        //le script du burger pour le mobile et le responsive
        function btnBurger() {
            var x = document.getElementById("myLinks");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
    </script>
        

    </header>

    <main>
         <!-- bloc pour l'inscription -->
         <section>
            <div class="container__inscription">
                <form class="modal-content form__postuler" action="/action_page.php">
                    <div class="container__modal">
                        <h2>Postulez Maintenant</h2>
                        <!-- <p>Réjoins nous Molakisi avec des tuteurs de qualités et qualifiés.</p> -->
                        <hr>
                        <div class="input__modal">
                            <div class="modal__flex">
                                <input type="text" placeholder="Nom" name="name" autocomplete="off" required>
                                <input type="text" placeholder="Postnom" name="postnom" autocomplete="off" required>
                            </div>
                            <div class="modal__flex">
                                <input type="text" placeholder="Prenom" name="prenom" autocomplete="off" required>
                                <input type="text" placeholder="Sexe" name="sexe" autocomplete="off" required>
                            </div>
                            <!-- <div class="modal__flex">
                                <input type="text" placeholder="Lieu de naissance" name="lieuNais" autocomplete="off" required>
                                <input type="date" placeholder="Date de naissance" name="dateNais" autocomplete="off" required>
                            </div> -->
                            <div class="modal__flex">
                                <input type="mail" placeholder="Adresse mail" name="lieuNais" autocomplete="off" required>
                                <input type="tel" placeholder="Téléphone" name="telephone" autocomplete="off" required>
                            </div>
                            <div class="modal__flex">
                                <input type="tel" placeholder="Montant Mensuel" name="montant" autocomplete="off" required>
                            </div>
                            <div class="modal__flex">
                                <!-- <label for="psw"><b> CV</b></label> -->
                                <input type="file" placeholder="Votre CV" name="votreCV" autocomplete="off" required>
                            </div>

                            <input type="text" placeholder="Année d'expérience" name="anneExp" autocomplete="off" required>
                            <textarea  class="input__modal" placeholder="Cours enseignés" name="cours" autocomplete="off" ></textarea>   
                            <textarea  class="input__modal" placeholder="Ecole d'attache..." name="ecole" autocomplete="off" ></textarea>   
                           
                        </div>
                
                        <!-- <label for="psw"><b>Mot de passe</b></label> -->
                        <div class="clearfix btn__connexion">
                            <button type="submit" class="connexion">Postulez</button>
                        </div>
                
                        
                        <hr>
                        <div class="modal__bottom__form">
                            <p>Déjà membre ?, <a href="../home/" class="modal__bottom__a">Se connecter</a> </p>
                            <a href="./index.html" class="modal__bottom__a"> Retour</a>

                        </div>

                
                        <!-- <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p> -->
                
                        
                    </div>
                </form>
            </div>

            
        </section>
    </main>
   
</body>
</html>