<footer class="container__footer">
            <div class="footer__logo">
                <a href="index.html"><img src="style/images/logo_white.png" alt=""></a>
            </div>
            <div class="footer__text">
                <h3>A Propos<span>__________</span></h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur,                     adipisicing elit. Laboriosam perspiciatis
                    labore unde quasi assumenda dolorem, corrupti
                </p>
            </div>
            <div class="footer__text">
                <h3>Nos Adresses<span>__________</span></h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam perspiciatis
                    labore unde quasi assumenda dolorem, corrupti
                   
                </p>
            </div>
            <div class="footer__text">
                <h3>Rejoinez nous <span>__________</span></h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur consectetur
                    consecteturconsectetur, Laboriosam perspiciatis                   
                </p>
                <ul>
                    <li><a href=""><i class="bi bi-instagram"></i></a></li>
                    <li><a href=""><i class="bi bi-facebook"></i></a></li>
                    <li><a href=""><i class="bi bi-snapchat"></i></a></li>
                    <li><a href=""><i class="bi bi-pinterest"></i></a></li>
                </ul>
            </div>

        </footer>